//主题颜色
@themeColor: #ffc133;
.themeColor{color:#ffc133 !important};
//page背景色
@pageBackgroundColor: #ffffff;
//page页上边距
@topGap: 20px;
//page页下边距
@bottomGap: 20px;
//page页左边距
@leftGap: 20px;
//page页右边距
@rightGap: 20px;
//组件边框样式（与ant统一）
@borderStyle: 1px solid #d9d9d9;
@borderActive: 1px solid #FFD323;
@boxShadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
@borderRadius: 4px;
//筛选面板高度
@pageFilterBarHeight: 60px;
//筛选条件面板高度
@pageFilterOptionBarHeight: 88px;
//按钮颜色
@buttonColor: #FFD323;
//按钮高亮色
@buttonActiveColor: #FFD323;
//normal状态色
@buttonNormalColor: #f3f3f3;
//分割线颜色
@separateLineColor: #e8e8e8;
.customButton(@custom-button-width:120px, @custom-button-height:35px) {
  background-color: @buttonColor;
  width: @custom-button-width;
  height: @custom-button-height;
  border-radius: @borderRadius;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  cursor: pointer;
}
.themis-btn {
  background: linear-gradient(to right, #ffc133, #fffd01);
  border: 1px solid #fef254;
  box-shadow: 0 0 5px #fef254;
  width: 200px;
  height: 37px;
  line-height: 37px;
  border-radius: 8px;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.themis-btn.disabled {
  background: #bfbfbf;
  border: none;
  box-shadow: inherit;
  width: 190px;
  height: 37px;
  line-height: 37px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  color: #fff
}

.themis-a {
  background: linear-gradient(to right, #ffc133, #fffd01);
  border: 1px solid #fef254;
  box-shadow: 0 0 5px #fef254;
  border-radius: 8px;
  outline: none;
  color: #fff;
  display: inline-block;
  &:hover {
    color: inherit !important;
  }
  &:focus {
    color: inherit !important;
  }
}

.limit-box {
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 18px;
}


.mnemonic-text {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    width: 500px;
  }
  @media screen and (max-width: 768px) {
    width: 200px;
  }
}

.custom-modal(@modal-width:358px) {
  width: @modal-width !important;
  right: -35px;
  border-radius: 5px;
  overflow: hidden;
  .ant-modal-body {
    padding: 0px;
  }
}

::selection {
  color: #fff;
  background-color: #FFD323 !important;
}

.page {
  margin-top: 130px;
}

// .ant-message {
//   font-size: 16px !important;
//   position: relative;
//   top: 30px !important;
// }

// .ant-message .anticon {
//   font-size: 18px !important;
// }

.is_invalid {
  border: 1px solid #E5E5E5 !important;
  background-color: #F5F5F5;
}

.is_valid {
  border: 1px solid #A1A1A1 !important;
  background-color: #fff;
}

//登陆注册及忘记密码公共部分样式开始
//tab部分
.mainbg_img {
  position: absolute;
  padding-top: 100px !important;
  padding-bottom: 95px;
  height: 100% !important;
  width: 100% !important;
  background: url("../../../assets/images/loginbg.png") center no-repeat;
  background-size: 100% 100%;
  display: flex !important;
  justify-content: center !important;
}

.login-bg-title {
  display: inline-block;
  text-align: center;
  height: auto;
}

.login-bg-title2 {
  color: #FFD323;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 3;
}

.login-bg-title3 {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
}

.login-sections {
  width: 100%;
  background-color: #fff;
  box-shadow: rgb(220, 220, 220) 0px 0px 20px;
  border-radius: 5px;
  padding: 20px 0;
}

.loginli {
  color: #dddddd;
  float: left;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}

.login-shadows {
  width: 100%;
}

.signinTypeBar p {
  display: inline-block;
  color: black;
  border-bottom: 2px solid #FFD323;
  box-shadow: 0px 1px 0px #FFFD00;
}

.loginul {
  list-style: none;
  padding-left: 0;
  text-align: center;
  height: auto;
}

.login_title, .login_content {
  display: flex;
  justify-content: center;
}

//tab部分结束

.input {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 1px;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 16px;
  background-color: #fff;
}

.inputwidth {
  width: 100%;
}

.forget-todo {
  width: 100%;
  display: flex;
  flex-direction: row;
  a {
    color: #444;
    font-size: 13px;
  }
}

.forgetpwd {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.not-account {
  display: flex;
  justify-content: flex-end;
}

.account {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.form-login {
  display: block;
  width: 100% !important;
  height: 36px;
  margin-bottom: 15px;
  border-radius: 3px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  background: -moz-linear-gradient(left, #FFD323, #FFFD00);
  background: linear-gradient(left, #FFD323, #FFFD00);
  background: -webkit-linear-gradient(left, #FFD323, #FFFD00);
  border: 1px solid #FFFD00;
  box-shadow: 0 0 5px #FFFD00;
}

.form-login, .form-login:hover, .form-login:active {
  color: #fff !important;
  background: -moz-linear-gradient(left, #FFD323, #FFFD00);
  background: linear-gradient(left, #FFD323, #FFFD00);
  background: -webkit-linear-gradient(left, #FFD323, #FFFD00);
  border: 1px solid #FFFD00;
  box-shadow: 0 0 5px #FFFD00;

}

//登陆注册及忘记密码公共部分样式结束

//explorer公共部分样式

//.table-striped, .table-striped th, .table-striped tr, .table-striped td {
//  color: white !important;
//  border-collapse: collapse !important;
//  border: 1px solid #464545 !important;
//  font-weight: 600;
//  font-size: 15px;
//}
//
//.table-striped tbody tr:nth-of-type(2n+1) {
//  background-color: #3D3D3D !important;
//}
//
//.table-striped tbody tr:nth-of-type(2n) {
//  background-color: #222222 !important;
//}

//explorer结束

/* Select */
.slecet-style {
  display: flex;
  justify-content: space-around;
  .ant-select-selection--single {
    height: 35px !important;
  }
  .ant-select-selection__rendered {
    padding-left: 5px !important;
    line-height: 35px !important;
  }
  .form-search {
    width: 120px;
    height: 36px;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    font-size: 14px;
    background: linear-gradient(to right, #f8cc52, #fef254);
    border: 1px solid #fef254;
    box-shadow: 0 0 5px #fef254;
  }
}

/* buy/sell部分样式 */
.mainbuy {
  width: 72%;
  margin: 100px auto;
  /* Select */
  .slecet-style {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    .ant-select-selection {
      border-radius: 10px !important;
      background: #f5f5f5;
    }
    .ant-select-selection--single {
      // width: 149px;
      height: 36px !important;
    }
    .ant-select-selection__rendered {
      padding-left: 5px !important;
      line-height: 35px !important;
    }
    .form-search {
      width: 150px;
      height: 36px;
      color: white;
      font-weight: 600;
      border-radius: 10px;
      font-size: 14px;
      background: linear-gradient(to right, #ffc133, #fffd01);
      // border: 1px solid #fffd01;
      box-shadow: 0 0 5px #fffd01;
      outline: none;
    }
  }
      tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
      }
      .contentborder:nth-child(2n) {
        background: #F5F5F5;
      }
      .contentborder > td {
        // padding: 12px 10px;
        height: 72px;
        text-align: center;
        font-weight: 400;
        color: #656565;
        font-size: 13px;
      }
      .tabletitle a, .tabletitle a:active, .tabletitle a:hover {
        color: #656565;
      }
    }
    .tablebuy {
      width: 100px;
      height: 36px;
      // padding: 3px 20px;
      color: white;
      border-radius: 10px;
      background: linear-gradient(to right, #ffc133, #fffd01);
      border: none;
      // border: 1px solid #fffd01;
      box-shadow: 0 0 5px #fffd01;
      outline: none;
    }
  /* Pagination样式 */
  .pagecomponent {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    :global(.ant-pagination-item) {
      width: 20px !important;
      border: none;
    }
    :global(.ant-pagination-item-active) {
      min-width: 20px !important;
      height: 20px !important;
      line-height: 20px !important;
      text-align: center;
      font-size: 12px;
      border: none;
      background: #f8cc52;
      border-radius: 50%;
      box-shadow: 0 0 5px #fffd01;
      color: #808080;
    }
  }

/* table */
.table-responsive {
  margin-top: 20px;
}

.tableborder {
  width: 95%;
  margin: 0 auto;
  border-collapse: separate;
  .titlemargin {
    line-height: 60px;
    .tabletitle {
      text-align: center;
      font-weight: 400;
      font-size: 13px;
    }
  }
  .tbody-content {
    tr:first-child td {
      border-top: 1px solid #ccc;
    }
    tr td:first-child {
      border-left: 1px solid #ccc;
    }
    tr td:last-child {
      border-right: 1px solid #ccc;
    }
    tr:last-child td {
      border-bottom: 1px solid #ccc;
    }

    tr:first-child td:first-child {
      border-top-left-radius: 10px;
    }

    tr:first-child td:last-child {
      border-top-right-radius: 10px;
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: 10px;
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: 10px;
    }
    .contentborder:nth-child(2n) {
      background: #F5F5F5;
    }
    .contentborder > td {
      // padding: 12px 10px;
      height: 72px;
      text-align: center;
      font-weight: 400;
      color: #656565;
      font-size: 13px;
    }
    .tabletitle a, .tabletitle a:active, .tabletitle a:hover {
      color: #656565;
    }
  }
  .tablebuy {
    width: 100px;
    height: 36px;
    // padding: 3px 20px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to right, #f8cc52, #fef254);
    border: 1px solid #fef254;
    box-shadow: 0 0 5px #fef254;
    outline: none;
  }
}

/* table结束 */

/* buy/sell部分样式结束 */

/* order部分 */
.mainorder {
  width: 100% !important;
  .orderType {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 16px;
      li {
        a {
          color: #909090;
        }
        .orderTypeBar {
          display: inline-block;
          border-bottom: 1px solid #fffd01;
          color: black;
        }
      }
    }
  }
  .order-table {
    margin-top: 20px;
    .tableborder {
      border-collapse: separate;
      .titlemargin {
        border: none !important;
        margin-bottom: 100px;
        th {
          line-height: 50px;
        }
      }
      .table-tbody {
        tr:first-child td {
          border-top: 1px solid #ccc !important;
        }
        tr:first-child {
          background: #fffd01;
        }
        tr td:first-child {
          border-top: 1px solid #ccc;
          border-left: 1px solid #ccc;
        }
        tr td:last-child {
          border-right: 1px solid #ccc;
        }
        tr:last-child td {
          border-bottom: 1px solid #ccc;
        }
        tr:first-child td:first-child {
          border-top-left-radius: 10px;
        }
        tr:first-child td:last-child {
          border-top-right-radius: 10px;
        }
        tr:last-child td:first-child {
          border-bottom-left-radius: 10px;
        }
        tr:last-child td:last-child {
          border-bottom-right-radius: 10px;
        }
        tr:nth-of-type(2n) {
          background-color: #f5f5f5 !important;
        }
        tr:nth-of-type(2n+1) {
          background-color: #fff !important;
        }
        td {
          border-top: none !important;
        }
      }
    }

    .contentborder {
      padding-right: 10px;
      border: none !important;
    }
    .contentborder > td, .contentborder > th, .contenttrust > td, .contenttrust > th {
      padding: 12px 10px;
      text-align: center;
      font-size: 14px;
      font-weight: normal !important;
    }
  }
  /* Pagination样式 */
  .pagecomponent {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    :global(.ant-pagination-item) {
      width: 20px !important;
      border: none;
    }
    :global(.ant-pagination-item-active) {
      min-width: 20px !important;
      height: 20px !important;
      line-height: 20px !important;
      text-align: center;
      font-size: 12px;
      border: none;
      background: #f8cc52;
      border-radius: 50%;
      box-shadow: 0 0 5px #fffd01;
      color: #808080;
    }
  }
}

/* order部分结束 */

@media screen and  (min-width: 1500px) {
  .into_password
  {
    width: 50%;
    margin: 0 auto;
  }
  .img_pt
  {
    padding-top: 15px;
  }
  .key_info_right
  {
    padding: 20px 60px 15px 60px;
  }
  .first_info {
    width: 80%;
    margin: 0 auto;
  }
  .seach-width
  {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .explorer_bg {
    padding-top: 60px;
    min-height: 1300px;
  }
  .detail_pages
  {
    padding-top: 100px;
  }
  .carousel-inner {
    height: 700px;
  }

  .banner-carousel {
    position: absolute;
    top: 200px;
  }

  .creat_wallet_main {
    padding: 10px 20px;
  }

  .wallet_navbar {
    padding-top: 80px;
  }

  .wallet_address {
    padding: 1.5rem 2rem;
  }

  .tabPosition {
    display: flex !important;
    width: 70%;
    margin: 0 auto;
    padding-top: 120px;
  }

  .address_pay {
    padding: 20px 60px;
  }

  .modle-list {
    display: flex;
  }

  .model-title {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .into_password
  {
    width: 50%;
    margin: 0 auto;
  }
  .img_pt
  {
    padding-top: 15px;
  }
  .key_info_right
  {
    padding: 20px 60px 15px 60px;
  }
  .explorer_bg {
    padding-top: 60px;
    min-height: 1300px;
  }
  .detail_pages
  {
    padding-top: 100px;
  }
  .explorer_miner {
    padding-top: 150px;
  }
  .first_info {
    width: 80%;
    margin: 0 auto;
  }
  .seach-width
  {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .modle-list {
    display: flex;
  }

  .model-title {
    margin-bottom: 70px;
  }

  .carousel-inner {
    height: 688px;
  }

  .banner-carousel {
    position: absolute;
    top: 200px;
  }

  .creat_wallet_main {
    padding: 10px 20px;
  }

  .wallet_navbar {
    padding-top: 80px;
  }

  .wallet_address {
    padding: 1.5rem 2rem;
  }

  .nav-item {
    min-width: 100px;
    text-align: center;
  }

  .tabPosition {
    display: flex !important;
    width: 70%;
    margin: 0 auto;
    padding-top: 120px;
  }

  .safe_set {
    margin-left: 70px;
  }

  .bindPhone {
    display: inline-block;
    margin: 10px 100px 10px 40px;
    width: 50%;
  }

  .address_pay {
    padding: 20px 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .into_password {
    width: 70% ;
    margin: 0 auto;
  }
  .img_pt
  {
    padding-top: 5px;
  }
  .key_info_right
  {
    padding: 20px 30px 15px 30px;
  }
  .first_info {
    width: 80%;
    margin: 0 auto;
  }
  .seach-width
  {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .explorer_bg {
    padding-top: 60px;
    min-height: 1400px;
  }
  .detail_pages
  {
    padding-top: 60px;
  }
  .explorer_miner {
    padding-top: 150px;
  }

  .carousel-inner {
    height: 400px;
  }

  .banner-carousel {
    position: absolute;
    top: 100px;
  }

  .model-title {
    margin-bottom: 40px;
  }

  .creat_wallet_main {
    padding: 10px 20px;
  }

  .wallet_navbar {
    padding-top: 80px;
  }

  .wallet_address {
    padding: 1.5rem 2rem;
  }

  .nav-item {
    min-width: 50px;
    text-align: center;
  }

  .tabPosition {
    display: flex !important;
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
  }

  .safe_set {
    margin-left: 70px;
  }

  .bindPhone {
    display: inline-block;
    margin: 10px 100px 10px 40px;
    width: 50%;
  }

  .mainbuy {
    width: 70% !important;
    margin: 80px auto;
  }

  .address_pay {
    padding: 20px;
  }
}

@media screen and(min-width: 400px) and (max-width: 768px) {
  //.navbar-nav
  //{
  //  padding-left: 20px;
  //}
  .into_password
  {
    width: 80%;
    margin: 0 auto;
  }
  .img_pt
  {
    padding-top: 5px;
  }
  .key_info_right
  {
    padding: 20px;
  }
  .first_info {
    width: 95%;
    margin: 0 auto;
  }
  .seach-width
  {
    width: 95%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .explorer_bg {
    padding-top: 60px;
    min-height: 1400px;
  }
  .detail_pages
  {
    padding-top: 60px;
  }
  .explorer_miner {
    padding-top: 100px;
  }


  .model-title {
    margin-bottom: 30px;
  }

  .banner-carousel {
    position: absolute;
    top: 50px;
  }

  .carousel-inner {
    height: auto;
  }

  .creat_wallet_main {
    padding: 0;
  }

  .wallet_navbar {
    padding-top: 20px;
  }

  .wallet_address {
    padding: 1.5rem 0rem;
  }

  .wallet_main {
    padding-top: 60px;
  }

  .nav-item {
    min-width: 50px;
    text-align: left;
  }

  .tabPosition {
    display: flex !important;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
  }

  .safe_set {
    margin-left: 20px;
  }

  .bindPhone {
    display: inline-block;
    margin: 10px 20px 10px 10px;
    width: 50%;
  }

  .mainbuy {
    width: 80% !important;
    margin: 80px auto;
  }

  .address_pay {
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  //.navbar-nav
  //{
  //  padding-left: 20px;
  //}
  .into_password {
    width: 80% ;
    margin: 0 auto;
  }
  .first_info {
    width: 100%;
    margin: 0 auto;
  }
  .seach-width
  {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .explorer_bg {
    padding-top: 60px;
    min-height: 1400px;
  }
  .detail_pages
  {
    padding-top: 60px;
  }
  .explorer_miner {
    padding-top: 90px;
  }

  .banner-carousel {
    position: absolute;
    top: 50px;
  }

  .model-title {
    margin-bottom: 30px;
  }

  .creat_wallet_main {
    padding: 0;
  }

  .wallet_address {
    padding: 1.5rem 0rem;
  }

  .wallet_navbar {
    padding-top: 20px;
  }

  .wallet_main {
    padding-top: 60px;
  }

  .tabPosition {
    display: flex !important;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
  }

  .safe_set {
    margin-left: 20px;
  }

  .bindPhone {
    display: inline-block;
    margin: 10px 20px 10px 10px;
    width: 50%;
  }

  .address_pay {
    padding: 20px;
  }

  /* buy/sell */
  .mainbuy {
    width: 90% !important;
    margin: 80px auto;
  }

  .slecet-style > .ant-select.ant-select-enabled {
    width: 90px !important;
  }

  .ant-select-selection__rendered {
    margin-left: 0px !important;
  }

  .form-search {
    width: 20% !important;
  }

  /* buy/sell结束 */
}

// usercenter开始
.formChange {
  display: block !important;
  width: 60% !important;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 14px;
  color: black;
}

.Verifycodewidth {
  width: 60% !important;
  height: 36px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.formVerifycode {
  width: 70% !important;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 14px;
  color: black;
}

.send-testcode {
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #f8cc52;
}

// usercenter结束

// 分页的样式
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  border: none !important;
}
